.form-control {
    --input-padding: .575rem .75rem;
    border-color: var(--border-color);
    font-size: var(--font-size-14);
    border-radius: var(--border-radius) !important;
    padding: var(--input-padding);
}

.form-control:focus {
    border-color: var(--highlight-color);
    box-shadow: none;
}

[data-bs-theme="light"] form,
[data-bs-theme="light"] form label {
    --bs--secondary-color: #5e5e5e;
    --bs-body-color: var(--bs--secondary-color);
}

form label,
form .invalid-feedback {
    font-family: var(--outfit-light);
}

label.required:after,
.required:after {
    content: "*";
    color: var(--bs-danger);
    padding-left: 3px;
}

.invalid-feedback {
    font-size: 0.825rem;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none;
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
}

/* form components ends here */

/* buttons declarations begins */
.btn {
    --bs-btn-padding-y: .5rem;
    --bs-btn-font-size: .875rem;
    min-width: 7.5rem;
}

form.login-form .btn {
    --bs-btn-font-size: 1rem;
}

.btn-success {
    --bs-btn-bg: var(--highlight-color);
    --bs-btn-hover-bg: var(--highlight-color-hsl);
    --bs-btn-border-radius: var(--border-radius);
}

.btn-outline-success {
    --bs-btn-color: var(--highlight-color);
    --bs-btn-border-color: var(--highlight-color);
    --bs-btn-hover-bg: var(--highlight-color-hsl);
}

.btn.disabled,
.btn:disabled,
.btn:disabled
fieldset:disabled .btn {
    background-color: var(--bs-gray-200);
    border-color: var(--bs-gray-200);
    color: var(--bs-btn-color);
}

.bank-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2.75rem;
    border-radius: 0.5rem;
    padding: 0.375rem;
}

.bank-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.image-container {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}