[data-bs-theme="light"] .table {
    --border-color: #F8F8F8;
    --bs-table-color: var(--bs-primary-color);
    --bs-table-border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-collapse: separate;
    border-spacing: 0;
    /* overflow: hidden; */
    border: 1.5px solid var(--border-color);
    vertical-align: middle;
}

[data-bs-theme="light"] .table {
    --table-header-bg: #f9fbfc;
    --table-header-color: #5E5E5E;
}

[data-bs-theme="light"] .table thead th {
    background-color: var(--table-header-bg);
    color: var(--table-header-color);
}

[data-bs-theme="light"] .table th,
[data-bs-theme="light"] .table td {
    border-left: 0;
    border-right: 0;
}

[data-bs-theme="light"] .table thead th,
[data-bs-theme="light"] .table tbody td {
    --border-color: #e4e4e4;
    border-bottom: 1px solid var(--border-color);
}

[data-bs-theme="light"] .table tbody tr:last-child td {
    border-bottom: none;
}

.card .table {
    margin-bottom: 0;
}

.table td>a {
    display: block;
}

.table .rupee {
    color: var(--bs-primary-color);
}

/** table empty starts */
.table-empty-container {
    width: 100%;
    height: 25rem;
    /* min-height: 80vh; */
    /* background: var(--bs-white); */

}

.table-empty-container .table-empty-bx {
    text-align: center;
}

.table-empty-container .table-empty-bx .emty-title {
    margin-top: -2.5rem;
    color: var(--bs-primary-color);
    font-weight: 400;
}


/** table list starts */

/* .table-container {
    background: var(--bs-white);
} */


.table-responsive {
    max-height: 68vh;
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--bs-white) transparent;
    scrollbar-gutter: 1px;
}


.table thead {
    position: sticky;
    top: 0;
    z-index: 100;
}

.table th {
    min-width: 9rem;
    font-weight: 400;
    padding-right: 2rem;

}

.table th i {
    display: none;
}

.table th.sorting {
    cursor: pointer;
}

.table th.sorting i {
    display: inline-block;
}

.table th.sorting {
    position: relative;
}

.table th.sorting::after {
    content: '\F283';
    font-family: 'bootstrap-icons';
    position: absolute;
    right: 0.5rem;
    width: 1rem;

}

.table td,
.table th {
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle !important;
}

.table-th.fixed-column {
    vertical-align: baseline !important;
}

.custom-tooltip_2 {
    position: absolute;
    top: 1.6rem;
    left: 0;
    background-color: var(--bs-primary-color);
    color: var(--bs-white);
    padding: 0.375rem 0.625rem;
    border-radius: 0.375rem;
    border: 1px solid var(--bs-primary-color);
    font-size: 0.875rem;
    white-space: nowrap;
    pointer-events: none;
    z-index: 9999;
    display: none;
    font-weight: 300;
}

.table th[tabindex]:focus {
    outline: none;

    background: var(--bs-gray-200);
    box-shadow: none;
}

.table td:has(.dropdown) {
    overflow: visible !important;
    z-index: 23 !important;
}

.table th:first-child,
.table td:first-child {
    min-width: 2.75rem;
    padding: 0.625rem 0.875rem;
}

.fixed-column {
    position: sticky;
    box-sizing: border-box;
    z-index: 2;
    top: auto;
    right: 0;
    background: transparent;
    box-shadow: -0.25rem 0px 1.125rem rgba(0, 0, 0, 0.08) !important;
    min-width: 2.5rem !important;
    padding: 0 0.95rem !important;
}

.table td:has(.dropdown .dropdown-menu[data-popper-placement^="bottom-end"].show) {
    z-index: 99 !important;
}

.fixed-column .dropdown-menu.show {
    margin-top: 0.4rem !important;
}

.fixed-column .action-btn {
    width: 1.75rem;
    background: transparent;
    height: 1.75rem;
    display: block;
    z-index: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: var(--border-color) 1px solid;
    padding: 0;
    font-size: var(--font-size-14);
    line-height: 1.75rem;
    margin: 0 auto;

}

.fixed-column .action-btn:hover {
    border: var(--bs-gray-500) 1px solid;
}

.fixed-column .action-btn:focus {
    border: var(--bs-primary-color) 1px solid;
}

.fixed-column .dropdown {
    position: relative;
}



.fixed-column .dropdown-menu {
    background: var(--bs-white) !important;
    border: var(--bs-gray-300) 0.5px solid !important;
    min-width: 11.5rem !important;
    position: absolute !important;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    z-index: 23;
    border-radius: var(--border-radius) !important;
    top: 1.9rem;

}


.fixed-column .dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem !important;
}

.fixed-column .dropdown-menu::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--border-color);
    z-index: 1;
}

.fixed-column .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -0.45rem;
    right: 0.6rem;
    border-left: 0.45rem solid transparent;
    border-right: 0.45rem solid transparent;
    border-bottom: 0.45rem solid var(--bs-white);
    z-index: 2;
}

.fixed-column .dropdown-menu[data-popper-placement^="top"]::after {
    top: auto;
    bottom: -0.5rem;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid var(--border-color);
    border-bottom: none;
}

.fixed-column .dropdown-menu[data-popper-placement^="top"]::before {
    top: auto;
    bottom: -0.45rem;
    border-left: 0.45rem solid transparent;
    border-right: 0.45rem solid transparent;
    border-top: 0.45rem solid var(--bs-white);
    border-bottom: none;
}

.table-responsive.refund-table {
    max-height: 55vh;
}

.table-responsive.settlement-list {
    max-height: 52vh;
}


.table-responsive.settlement-list.dispute-list {
    max-height: 44vh;
}

/* checll all */
#new-filters {
    display: none;
    padding: 0.63rem 0;
}

#default-filters {
    display: none;

}

.selected-count {
    font-size: var(--font-size-16);
    color: var(--bs-primary-color);
    margin-right: 0.5rem;
}

.clear-all {
    cursor: pointer;
}



.table-footer {
    margin-top: 1rem;
}

.table-footer .showing-text {
    text-wrap: nowrap;
}

.table-footer .custom-select {
    min-width: auto !important;
    padding: 0 1rem 0 0;
    display: flex;
    justify-content: end;
    margin: 0;

}

.table-footer .custom-select__button {
    max-width: 5rem;
    padding: 0.25rem 0.5rem !important;

}

.table-footer .custom-select__menu {
    max-width: 5rem;

}

.table-footer span {
    color: var(--bs-primary-color);
}

.table-footer b {
    color: var(--bs-primary-color);
    font-weight: 500;
}

/** pagination **/
.pagination {
    padding: 0;
    margin: 0;
}

.pagination .page-link {
    padding: 0.5rem 1.125rem;
    border: var(--border-color) 1px solid !important;
    color: var(--bs-primary-color);
    font-size: var(--font-size-14);
    margin: 0 0.25rem;
    border-radius: var(--border-radius);
}

.pagination .page-link:hover {
    color: var(--highlight-color);
}

.pagination .page-link.page-prev,
.pagination .page-link.page-next {
    border: none !important;
}

.pagination .page-link.page-prev i:hover,
.pagination .page-link.page-next i:hover {
    color: var(--highlight-color) !important;
}

.pagination .page-link i {
    font-size: var(--font-size-14);
    color: var(--bs-primary-color);

}

.pagination .page-link:hover,
.pagination .page-link:focus {
    border: var(--border-color) 1px solid;
    background: transparent;
    box-shadow: none;
}

.pagination .page-link.active {
    background: var(--highlight-color);
    border: var(--highlight-color) 1px solid;
    color: var(--bs-white);
}


/* Table filter starts */
.table-filter {
    /* padding: var(--font-size-20); */
    gap: var(--border-radius-6);
}

.table-filter .btn {
    min-width: auto;
}

.filter-btns {
    background: #f8f8f8;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    gap: 0.25rem;
}

.filter-btns .btn {
    border: none;
    color: var(--subtext2-color);
    font-size: var(--font-size-14);
}

.filter-btns .active {
    background: var(--bs-white);
    color: var(--highlight-color);
    border-radius: var(--border-radius);
    padding: 0.25rem 0.75rem;
}



.table-filter .table-search .form-control {
    width: var(--search-width);
    padding: var(--border-radius-6) var(--common-size) var(--border-radius-6) 2.25rem;
}

.table-search .bi-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.table-filter button {
    padding: var(--border-radius-6) var(--font-size-12);
    border: 1px solid var(--border-color);
}

.table-filter .table-export {
    background-color: transparent;
}

.table-filter .table-search .form-control,
.table-filter button {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-6);
}

/* Table Filter ends */

/* Table Filter Modal starts */



.modal-filter .modal-dialog {
    position: absolute;
    top: 13rem;
    right: 65px;
    width: 100%;
    margin: 0;
    z-index: 99999;
}

.modal-filter.modal-profile .modal-dialog {
    position: absolute;
    top: 5rem;
    right: 15px;
    width: 350px;
    margin: 0;
    z-index: 99999;
}

.modal-filter.modal-profile .modal-dialog .modal-body .profile-actions {
    padding: 0;
    margin: 0;
}

.modal-filter.modal-profile .modal-dialog .modal-body .profile-actions li {
    list-style: none;
}

.modal-filter .modal-content,
.modal-filter .modal-body {
    padding: var(--font-size-24);
}

.modal-filter.modal-profile .modal-content {
    padding: var(--font-size-20);
}

.modal-filter .modal-content {
    box-shadow: 0px 4px 16px 0px #0000001F;
}

.modal-filter .modal-header .btn-close {
    border: none;
}

.modal-filter .modal-footer button {
    padding: var(--border-radius-8) 0;
    min-width: 7.5rem;
}

/* Table Filter Modal ends */


.select2-container {
    width: 100% !important;
    height: 40px;
    line-height: 18px;
}

.select2-container--default .select2-selection--multiple {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: text;
    padding: var(--common-size) var(--common-size);
    position: relative;
}

.select2-selection__choice {
    background-color: yellow;
    border: none;
    color: white;
    margin-top: var(--border-radius-6);
    padding-left: var(--font-size-20) !important;
}

.select2-container--default .select2-results__option {
    background-color: white;
    color: black;
    position: relative;
    padding-left: 35px;
}

.select2-container--default .select2-results__option::before {
    content: "";
    display: inline-block;
    width: var(--common-size);
    height: var(--common-size);
    border: 1px solid var(--border-color);
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: transparent;
    border-radius: var(--border-radius-6);
}

/* .select2-container--default .select2-results__option[aria-selected="true"]::before {
    background-color: #2AB500 !important;
} */

.select2-container--default .select2-results__option--selectable.select2-results__option--selected::before {
    background-color: #099D3E !important;
}

/* .select2-container--default .select2-results__option[aria-selected="true"]::after {
   content: "";
    position: absolute;
    top: 15px;
    left: 14px;
    width: 4px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    transform: translateY(-50%) rotate(45deg);
} */

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #F5FFF8 !important;
    color: black;
}

.select2-container--default .select2-results__option--selectable.select2-results__option--highlighted {
    background-color: #F5FFF8 !important;
    color: black;
}

.select2-container--default .select2-results__option--selectable.select2-results__option--selected {
    background-color: transparent !important;
}

.select2-container--default .select2-results__option--selected::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 14px;
    width: 4px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    transform: translateY(-50%) rotate(45deg);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: black;
}

.select2-dropdown {
    border: none;
    box-shadow: 0px 4px 16px 0px #0000001F;
    top: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #099D3E;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container .select2-search--inline .select2-search__field {
    margin: 0;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    margin: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.select2-results__option {
    padding: var(--font-size-10) var(--border-radius-6);
}

.select2-container .select2-search--inline .select2-search__field {
    display: none;
}

.CPVplaceholder {
    position: absolute;
    top: 52%;
    left: 16px;
    font-size: var(--font-size-14);
    color: lightgrey;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white;
    border-color: var(--border-color);
    padding: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    right: 0;
    left: unset;
    border: none;
}


/** form-checkbox ***/

/* .form-check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.15rem;
    height: 1.15rem;
    border: 1px solid var(--bs-gray-400);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: var(--bs-white);
    cursor: pointer;

}

.form-check-input:checked {
    background: transparent;
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}

.form-check-input:checked::after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.35rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid var(--highlight-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */

.report-list .table tbody td {
    height: 3.75rem;
}

/* active filter button css */

.filter-active {
    border: 1px solid var(--bs-primary-color) !important;
    border-radius: 6px;
}


/* for invite merchant table */


.table-responsive.invite-list {
    max-height: 57vh;
}